body {
    background-color: #121212;
}
.upcoming_header {

    color: #FFFFFF;
    font-family: "Space Mono", monospace;
    font-size: 23px;
}
.upcoming-list
{
    display: flex;
    flex-direction: column;
    font-family: "Space Mono", monospace;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.title {
    color: #FFFFFF;
    font-family: "Space Mono", monospace;
    border-bottom: 2px solid #BB86FC;
    margin: -5px;
}
.a_title {
    color: #FFFFFF;
    font-size: 21px;
    font-family: Helvetica, Arial, sans-serif;
}

.Top_Anime_header{
    color: #FFFFFF;
    font-family: "Space Mono", monospace;
    font-size: 23px;
    border-bottom: 2px solid #BB86FC;
}

